@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF; 
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "inter", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal); 
    font-size: 16px;
    font-weight: 400;
}

p{
    font-size: 16px;
}

.principal{
    background-image: url("image/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    /*display: flex;
    justify-items: left;
    
    flex-direction: column;*/
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__organizado{
    
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 1em 0;
}

.container__botao{
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 15px;
    display: block;
    margin-bottom: 1em;
}

.botao__segundario{
    background-color: transparent;
    border: 2px solid var(--cinza-secundario);
}

.container__paragrafo{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.segundario{
    align-items: center;
    margin: 0 10em;
}

.segundario__imagem{
    width: 80%;
}

.segundario__titulo{
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.segundario__paragrafo{
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cinza-secundario); 
}

.terciario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.container__quaternario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container__dispositivos{
    display: flex;
    text-align: center;

}

.rodape{
   text-align: center; 
   flex-direction: column;
   margin: 0 5em;
   
}

.rodape__imagem{
    margin: 7em  0em 3em 0em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;  
    margin-bottom: 2em;
}

.lista__link{
    margin: 0 10px;
    
}

.rodape__link{
    list-style-type: none;
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
    font-family: var(--fonte-principal);
}

.rodape__link:hover{
    color: var(--botao-azul);
}

.rodape__paragrafo{
    margin-bottom: 2em; 
    color: var(--cinza-secundario);
    font-size: 14px;
    font: 1em sans-serif;
}